.form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    gap: 20px
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background-color: #008080;
    color: #ffffff;
    padding: 10px;
    border: none;
    transition: 1s;
}

.form__button:hover {
    background-color: #009999;
    transform: scale(1.1);
}

.form__button:active {
    background-color: #008080;
}

.form__newTask {
    padding: 5px;
    border: 2px solid #eeeeee;
}
