.taskList {
    list-style: none;
    padding: 0;
    margin-block-start: 35px;
    margin-block-end: 25px;
  }
  
  .taskList__item{
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 10px;
      padding: 10px;
      margin: 0 20px;
      border-bottom: 1px solid #dddddd;
  }
  
  .taskList__button {
      width: 30px;
      height: 30px;
      background-color: #008000;
      border-style: none;
  }
  
  .taskList__button--remove {
      background-color: #d60c0c;
      color: #ffffff;
      transition: 1s;
  }
  
  .taskList__button--remove:hover {
      background-color: #f02f2f;
  }
  
  .taskList__button--remove:active {
      background-color: #ff3838;
  }
  
  .taskList__button--done {
      color: #eee;
      transition: 1s;
  }
  
  .taskList__button--done:hover {
      background-color: #0ca70c;
  }
  
  .taskList__button--done:active {
      background-color: #25d125;
  }
  
  .task__content {
      display: flex;
      align-items: center;
  }
  
  .task__content--done {
      text-decoration: line-through;
  }
  